/* Author : Blue
   Version : 0.3
*/

html {
    font-weight: 300;
    color: whitesmoke;
}

body {
    background-color: #24292e;
    color: whitesmoke;
}

table.highlight > tbody > tr:hover {
    color: #1976D2 ;
}

table {
    margin-top: 5%;
}

caption {
    font-size: 160%;
    transition: 0.5s;
    transform: translate3d(0px, -0px, 0px);
}

caption:hover {
    border-radius: 20px;
    transition: 0.5s;
    transform: translate3d(2px, -2px, 2px);
}

td {
    border: 1px solid #d0d0d0;
    padding-left: 1%;
    padding-right: 1%;
}

#nav-mobile a{
    color: whitesmoke;
    font-weight: 100;
}

#navMobileIcon {
    margin: 10px 0px 10px 0px;
    border-radius: 50%;
    width: 50%;
    height: auto;
    vertical-align: middle;
}

#navMIcon {
    text-align: center;
}

#navbarIcon {
    vertical-align: middle;
    border-radius: 50%;
    width: 4%;
    height: auto;
    margin-right: 1%;
}

#jdaLink, #devlink {
    color: #1976D2;
}

#blueAvatar {
    margin-top: 1%;
    border-radius: 100%;
    border: 0.125em solid whitesmoke;
    width: 8%;
    height: auto;
}

#parallaxBg {
    display: block;
    transform: translate3d(-48%, 185px, 0px);
    filter: brightness(55%);
}

.parallaxCommands {
    height: 50%;
}

.buttons a{
    margin-top: 3px;
}
#twitchIcon {
    width: 12%;
    height: auto;
}

#copyright {
    text-align: center;
    vertical-align: middle;
}

.material-icons {
    font-size: 30px;
}

.blueCard {
    transition: 0.5s;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px 20px 20px 15px;
    text-align: center;

}
.blueCard:hover {
    border-radius: 20px;
    transition: 0.5s;
    transform: translate3d(3px, -3px, 3px);
}

.header {
    transition: 0.5s;
    transform: translate3d(0px, -0px, 0px);
}

.header:hover {
    border-radius: 20px;
    transition: 0.5s;
    transform: translate3d(2px, -2px, 2px);
}

/* Tooltips */
.backdrop{
    background-color: #24292e;
}