<!--
Author : Blue
Version : 0.2
-->

        <footer class="page-footer blue darken-2">
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Blue#1377
                    <div class="right blueCard">
                        <a href="https://twitter.com/dabedee_dabedaa" class="twitter-follow-button right" data-size="large" data-show-count="false">Follow @dabedee_dabedaa</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>