<!--
Author : Blue
Version : 0.2
-->

        <footer class="page-footer blue darken-2">
            <div class="footer-copyright">
                <div class="container">
                    <div class="center">
                        <a class="github-button" href="https://github.com/thibautbessone" data-size="large" aria-label="Follow @thibautbessone on GitHub">Follow @thibautbessone</a>
                        <a class="github-button" href="https://github.com/thibautbessone/DiscordBlueBot/subscription" data-icon="octicon-eye" data-size="large" aria-label="Watch thibautbessone/DiscordBlueBot on GitHub">Watch</a>
                        <a class="github-button" href="https://github.com/thibautbessone/DiscordBlueBot" data-icon="octicon-star" data-size="large" aria-label="Star thibautbessone/DiscordBlueBot on GitHub">Star</a>
                        <script async defer src="https://buttons.github.io/buttons.js"></script>
                        <a href="https://twitter.com/dabedee_dabedaa" class="twitter-follow-button right" data-size="large" data-show-count="false">Follow @dabedee_dabedaa</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <p>© 2018 Blue <!-- Thibaut Bessone --></p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>