<!DOCTYPE html>
<html  prefix="og: http://ogp.me/ns#" lang="en">
<head>
    <title>BlueBot</title>
    <meta charset="UTF-8">
    <meta name="author" content="Blue#1337">
    <meta name="description" content="General purpose bot - Includes soundboard, moderation, Twitch notifications and fun commands">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="BlueBot - A Discord bot" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://bluebot.pw/img/bluebot.png" />
    <meta property="og:description" content="General purpose bot - Includes soundboard, moderation, Twitch notifications and fun commands"/>
    <meta property="og:url" content="https://bluebot.pw">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/upload.js"></script>
</head>
<body>