<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Blue">
    <meta name="description" content="General purpose bot - Includes soundboard, moderation, Twitch notifications and fun commands">
    <meta property="og:title" content="BlueBot">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <title>BlueBot</title>

</head>
<body>