<!--
Author : Blue
Version : 0.1
-->

<table class="highlight bordered">
    <caption class="blue-text text-darken-2">Fun commands</caption>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Example usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>!gif</td>
        <td>Posts a search result from giphy.com with the given parameters.</td>
        <td>!gif cat</td>
    </tr>
    <tr>
        <td>!rate</td>
        <td>Rates what you want</td>
        <td>!rate waifu</td>
    </tr>
    <tr>
        <td>!c&h</td>
        <td>Posts a Cyanide & Hapiness comic : !c&h latest for the latest, !c&h random for a random comic.</td>
        <td>!c&h latest<br>
            !c&h random</td>
    </tr>
    <tr>
        <td>!cat</td>
        <td>Makes the bot post a random cat image.</td>
        <td>!cat</td>
    </tr>
    <tr>
        <td>!ymjoke</td>
        <td>Makes the bot mention the given user and say a 'yo momma' joke.</td>
        <td>!ymjoke @Blue#1377</td>
    </tr>
    <tr>
        <td>!kappa<br>
            !idgf<br>
            !nope<br>
            !wat</td>
        <td>Quick reactions commands.</td>
        <td>!kappa</td>
    </tr>
    </tbody>
</table>