<!--
Author : Blue
Version : 0.1
-->

<table class="highlight bordered">
    <caption class="blue-text text-darken-2">Misc commands</caption>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Example usage</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>!info</td>
        <td>Provides current information on the bot.</td>
        <td>!info</td>
    </tr>
    <tr>
        <td>!sound</td>
        <td>Makes the bot join your current voice channel and play the specified sound.<br>
            !sound list to list all the available sounds
            !sound stop to stop playing a sound</td>
        <td>!sound ggm8</td>
    </tr>
    <tr>
        <td>!steam</td>
        <td>Provides some information about Steam servers status.</td>
        <td>!steam</td>
    </tr>
    <tr>
        <td>!tracktwitch</td>
        <td>Makes the bot post a message in the general channel when the specified user starts streaming.</td>
        <td>!tracktwitch @Minipasglop#3347</td>
    </tr>
    </tbody>
</table>