<!--
Author : Blue
Version : 0.1
-->

<table class="highlight bordered">
    <caption class="blue-text text-darken-2">Misc commands</caption>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Example usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>!info</td>
        <td>Provides current information on the bot.</td>
        <td>!info</td>
    </tr>
    <tr>
        <td>!sound</td>
        <td>Makes the bot join your current voice channel and play the specified sound.<br>
            !sound list to list all the available sounds
            !sound stop to stop playing a sound</td>
        <td>!sound ggm8</td>
    </tr>
    <tr>
        <td>!steam</td>
        <td>Provides some information about Steam servers status.</td>
        <td>!steam</td>
    </tr>
    <tr>
        <td>!github</td>
        <td>Give information about the specified GitHub user</td>
        <td>!github thibautbessone</td>
    </tr>
    <tr>
        <td>!server</td>
        <td>Give information about the server</td>
        <td>!server</td>
    </tr>
    <tr>
        <td>!whois</td>
        <td>Give information about the specified user</td>
        <td>!whois @Blue#1377</td>
    </tr>
    <tr>
        <td>!tracktwitch</td>
        <td>Makes the bot post a message in the general channel when the specified user starts streaming.</td>
        <td>!tracktwitch @Minipasglop#3347 streamLink</td>
    </tr>
    <tr>
        <td>!untrack</td>
        <td>Makes the bot stop tracking a user (no more Twitch notifications).</td>
        <td>!untrack @Minipasglop#3347</td>
    </tr>
    <tr>
        <td>!invite</td>
        <td>Posts BlueBot invite link.</td>
        <td>!invite</td>
    </tr>
    <tr>
        <td>!call</td>
        <td>Creates a room in appear.in for videochat (now obsolete)</td>
        <td>!call @Blue#1377</td>
    </tr>
    </tbody>
</table>