<!--
Author : Blue
Version : 0.1
-->

<table class="highlight bordered">
    <caption class="blue-text text-darken-2">Moderation commands</caption>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Example usage</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>!bw</td>
        <td>Allows you to ban some words to be used on your server.<br>
            !bw add for adding a word to the forbidden words list, !bw rm for removing it.</td>
        <td>!bw add yourWord<br>
            !bw rm yourWord</td>
    </tr>
    <tr>
        <td>!setprefix</td>
        <td>Allows you to change the prefix used by the bot.</td>
        <td>!setprefix /</td>
    </tr>
    <tr>
        <td>!setautorole</td>
        <td>Makes the bot automatically assign the specified role to new users.</td>
        <td>!setautorole yourRole</td>
    </tr>
    </tbody>
</table>