<!--
Author : Blue
Version : 0.1
-->

<table class="highlight bordered">
    <caption class="blue-text text-darken-2">Owner-only commands</caption>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Example usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>!announce</td>
        <td>Makes the bot say the specified phrase in all the server it's in.</td>
        <td>!announce BlueBot new release is live !</td>
    </tr>
    <tr>
        <td>!setgame</td>
        <td>Changes the current activity of the bot</td>
        <td>!setgame eating pizza</td>
    </tr>
    <tr>
        <td>!setos</td>
        <td>Changes the current online state of the bot</td>
        <td>!setos away</td>
    </tr>
    <tr>
        <td>!shutdown</td>
        <td>Stops the bot.</td>
        <td>!ping</td>
    </tr>
    </tbody>
</table>