<!--
Author : Blue
Version : 0.1
-->

<table class="highlight bordered">
    <caption class="blue-text text-darken-2">Utility commands</caption>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Example usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>!help</td>
        <td>Displays the available commands. When used as a suffix, gives info on the command</td>
        <td>!help or !clear help</td>
    </tr>
    <tr>
        <td>!clear</td>
        <td>Deletes the number of messages given in parameter (between 1 and 100)</td>
        <td>!clear 50</td>
    </tr>
    <tr>
        <td>!whoareyou</td>
        <td>Provides some information about the bot.</td>
        <td>!whoareyou</td>
    </tr>
    <tr>
        <td>!ping</td>
        <td>Pings the bot (to check if it's online).</td>
        <td>!ping</td>
    </tr>
    <tr>
        <td>!say</td>
        <td>Makes the bot say what you want.</td>
        <td>!say Hello !</td>
    </tr>
    <tr>
        <td>!sayhi</td>
        <td>Makes the bot say hi and mentioning the given user.</td>
        <td>!sayhi @Blue#1377</td>
    </tr>
    </tbody>
</table>